<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CLIPSHARE{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>CLIPSHARE</h1>
        <p class="subtitle">Fast and reliable clipboard sharing service.</p>
        <nav>
            <ul>
                <a href="/">Index</a> |
                <a href="/retrieve">Retrieve</a>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>clipshare is a fast, minimal and reliable clipboard sharing service.</p>
        <p class="motto">Malo periculosam libertatem quam quietum servitium.</p>
    </footer>
    
    {% block scripts %}{% endblock %}
</body>
</html> 